*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}






form {
    width: 50%;
    height: auto;
    background: linear-gradient(to bottom right, #00eeff, #ff00bf);
    margin: 50px auto;
    border-radius: 13px;
    padding: 20px 0 20px 0;
    text-align: center;
    color: white;
}

p{
    color: white;
    font-size: 15px;
}

form input{
    width: 80%;
    height: 30px;
    border: none;
    background-color: white;
    padding: 0 2%;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}

#submit{
    cursor: pointer;
    width: 25%;
    background-color: #ffffff;
    font-size: 1rem;
    margin-top: 20px;
    margin-right:0 ;
}

.submit{
    width: 84%;
    margin: auto;
}

form textarea{
    display: block;
    width: 80%;
    border: none;
    background-color: white;
    padding: 0 2%;
    resize: none;
    height: 120px;
    margin: 5px auto;
    border-radius: 5px;
}

